<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Justin Wasack</string>
	<key>Builder Version</key>
	<string>12604.1.38.1.7</string>
	<key>CFBundleDisplayName</key>
	<string>Coin Ticker</string>
	<key>CFBundleIdentifier</key>
	<string>com.quoid.cointicker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleVersion</key>
	<string>0.3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<integer>550</integer>
				<key>Identifier</key>
				<string>coinTickerPopover</string>
				<key>Width</key>
				<integer>530</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>coinTicker-button</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Coin Ticker</string>
				<key>Palette Label</key>
				<string>Coin Ticker</string>
				<key>Popover</key>
				<string>coinTickerPopover</string>
				<key>Tool Tip</key>
				<string>Open Coin Ticker</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>A configurable cryptocurrency ticker</string>
	<key>DeveloperIdentifier</key>
	<string>J74Q8V8V8N</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>None</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/quoid/coin-ticker/master/coin_ticker.plist</string>
	<key>Website</key>
	<string>https://github.com/quoid/coin-ticker</string>
</dict>
</plist>
