header {
    background-color: $background-color;
    -webkit-box-shadow: inset 0px -1px 1px $border;
    box-shadow: inset 0px -1px 1px $border;
    left: 0;
    padding: 9px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.header-center {
    -webkit-box-flex: 1;
    flex: 1;
}

#header-logo {
    background-color: transparent;
    background-image: url("inc/img/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 14px;
    margin: 5px auto;
    width: 84px;
}

#status {
    @extend %font-small;
    color: $font-light;
}

.buttons-left {
    height: 24px;
    position: relative;
    width: 24px;
}

header [id^="button-"] {
    background: transparent url("inc/img/settings.svg") no-repeat center center/16px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    height: 16px;
    padding: 4px;
    width: 16px;
}

#button-refresh {
    background-image: url("inc/img/refresh.svg");
    background-size: 13px 16px;
}

#button-back,
#button-settings {
    position: absolute;
    top: 0;
    left: 0;
}

#button-back {
    background-image: url("inc/img/arrow-back.svg");
    background-size: 16px 13px;
    left: -24px;
    opacity: 0;
    pointer-events: none;
}