<div id="settings">
    <div class="filter">
        <div id="filter-icon"></div>
        <input id="filter-bar" type="text" placeholder="Search for coins...">
        <div id="clear-filter" tabindex="0"></div>
    </div>
    <div class="settings-content">
        <p>Select all the coins you&apos;d like to track. All settings are saved in the local storage of your browser. Coin data is from CryptoCompare.com.</p>
        <div id="checkboxes">
            {% for coin in site.data.coins %}
                {% include coin.html symbol=coin.symbol name=coin.name %}
            {% endfor %}
        </div>
    </div>
    <div class="settings-footer">
        <button id="clear-checkboxes" class="button">Uncheck All</button>
        <button id="hide-settings" class="button">Exit Settings</button>
    </div>
</div>