<section id="ticker">
    {% include alert.html %}
        <div id="placeholder" class="ti" style="display: none">
        <div class="ti-icon"></div>
        <div class="ti-content">
            <div>
                <div class="ti-name"></div>
                <div class="ti-symbol"></div>
            </div>
            <div>
                <div class="ti-price"><span class="sign"></span>&nbsp;<span class="amount"></span></div>
                <div class="ti-change"></div>
            </div>
        </div>
        <div class="ti-arrow"></div>
    </div>
    <div id="welcome">You haven't set up any coins to track. Click the button below to start tracking coin prices now!</div>
    <div class="add-coin">
        <div id="add">
            <div class="add-icon"></div>
            <div>Add Coins</div>
        </div>
    </div>
</section>