<div id="ticker">
    <div id="welcome">Click the settings button to start tracking coins!</div>
    <div id="placeholder" class="item" style="display: none;">
        <div class="title">Title<span></span></div>
        <div class="data">
            <div>Last price:&#160;<span class="last"></span></div>
            <div>24hr low:&#160;<span class="low"></span></div>
            <div>24hr high:&#160;<span class="high"></span></div>
            <div>24hr change:&#160;<span class="change"></span></div>
        </div>
    </div>
</div>