<section id="ticker">
    <div id="alert">
        Update available. <a href="https://google.com" target="_blank">Click here for newest version</a>.
        <div id="close-alert"></div>
    </div>
    <div id="placeholder" class="ti" style="display: none" ondragstart="dragstart(event)" ondragend="dragend(event)" ondragenter="dragenter(event)" ondragover="dragover(event)" ondrop="drop(event)">
        <div class="ti-icon" onmousedown="mousedown(event)" onmouseup="mouseup(event)"></div>
        <div class="ti-content">
            <div>
                <div class="ti-name">Coin Name</div>
                <div class="ti-symbol">Ticker Symbol</div>
            </div>
            <div>
                <div class="ti-price"><span class="sign">$</span>&nbsp;<span class="amount">99,999.99</span></div>
                <div class="ti-change">-99.99%</div>
            </div>
        </div>
        <div class="ti-arrow"></div>
    </div>
</section>