<section id="tracking">
    <div id="loader-tracking">
        {% include loader.html %}
    </div>
    <div class="filter">
        <div id="filter-icon"></div>
        <input id="filter-bar" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search for coins...">
        <div id="clear-filter" tabindex="0"></div>
        <div id="uncheck-all" class="button">Uncheck All</div>
    </div>
    <div id="checkboxes" class="clusterize-scroll">
        <div id="contentArea" class="clusterize-content">
<!--
            <div class="empty-list">
                <div class="container">
                    Fetching list...
                </div>
            </div>
-->
        </div>
    </div>
</section>