---
layout: compress
---
<html>
    <head>
    {% capture styles %}
        {% include main.scss %}
    {% endcapture %}
    <style>{{ styles | scssify | strip }}</style>
    </head>
    <body>
        {{ content }}
    {% capture scripts %}
        {% include scripts.js %}
    {% endcapture %}
    <script>{{ scripts | uglify | strip }}</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46722971-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-110620814-1');
    </script>
    </body>
</html>