*,
*:before,
*:after  {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    -webkit-text-decoration-skip: objects;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}