$background-color: #fff;
$font-dark: #4c4d4f;
$font-light: #838587;
$placeholder: #c3c3c3;
$border: #e5e5e5;
$shadow: #d0d0d0;
$pop: #579ffb;
$green: #4cd964;
$red: #ff3b30;
$letter-spacing: -0.5px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


html,
body {
    background-color: $background-color;
    color: $font-dark;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    line-height: 18px;
}

body {
    overflow-x: hidden;
    position: relative;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased;
}

.flex {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
}

%font-small {
    font-size: 11px;
    line-height: 12px;
}

%font-medium {
    font-size: 13px;
    line-height: 18px;
}

a {
    color: $pop;
    font-weight: 500;
    text-decoration: underline;
}

.button {
    @extend %font-medium;
    background-color: $pop;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.19),
                0 6px 6px 0 rgba(0,0,0,0.23);
    color: #fff;
    cursor: pointer;
    letter-spacing: $letter-spacing;
    margin: 0;
    padding: 6px 24px;
    transition: box-shadow 125ms ease;

    &:active {
        box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.1);
    }
    
}

.container {
    padding: 0 12px;
}

.arrow {
    background: transparent url("inc/img/chevron-right.svg") no-repeat right center/7px 12px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    height: 12px;
    width: 7px;
}

header {
    background-color: $background-color;
    -webkit-box-shadow: inset 0px -1px 1px $border;
    box-shadow: inset 0px -1px 1px $border;
    left: 0;
    padding: 9px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.header-center {
    -webkit-box-flex: 1;
    flex: 1;
}

#header-logo {
    background-color: transparent;
    background-image: url("inc/img/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 14px;
    margin: 5px auto;
    width: 85px;
}

#status {
    @extend %font-small;
    color: $font-light;
}

.buttons-left {
    height: 24px;
    position: relative;
    width: 24px;
}

header [id^="button-"] {
    background: transparent url("inc/img/settings.svg") no-repeat center center/16px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    height: 16px;
    padding: 4px;
    width: 16px;
}

#button-refresh {
    background-image: url("inc/img/refresh.svg");
    background-size: 13px 16px;
    -webkit-transform-origin: 50% 56%;
    transform-origin: 50% 56%;
}

#button-back,
#button-settings {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: left 175ms ease-out 0, opacity 175ms ease-out 0;
    transition: left 175ms ease-out 0, opacity 175ms ease-out 0;
}

#button-back {
    background-image: url("inc/img/arrow-back.svg");
    background-size: 16px 13px;
    left: -24px;
    opacity: 0;
    pointer-events: none;
}

section {
    background-color: $background-color;
    padding-top: 54px;
    position: relative;
    min-height: 100vh;
}

#alert,
#version {
    @extend %font-small;
    padding: 12px;
}

#alert {
    background-color: #faead1;
    -webkit-box-shadow: inset 0 -1px 0 #fedfae, inset 0 1px 0 #fedfae;
    box-shadow: inset 0 -1px 0 #fedfae, inset 0 1px 0 #fedfae;
    color: #e2a54a;
    position: relative;
    
    a {
        color: #e2a54a;
        font-weight: 500;
        text-decoration: underline;
    }
    
}

#close-alert {
    background: transparent url("inc/img/clear-alert.svg") no-repeat center center/contain;
    cursor: pointer;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 12px;
    top: 10px;
}

#version {
    background-color: #deecff;
    -webkit-box-shadow: inset 0 -1px 0 #bdd3f2, inset 0 1px 0 #bdd3f2;
    box-shadow: inset 0 -1px 0 #bdd3f2, inset 0 1px 0 #bdd3f2;
    color: $pop;
    text-align: center;
}

#welcome {
    color: $font-light;
    left: 50%;
    position: absolute;
	top: calc(50% - 27px); //54px (height of header) /2 = 27px (perfect center)
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}

.actual ~ #welcome {
    display: none;
}

.ti {
    @extend .flex;
    background-color: $background-color;
    -webkit-box-shadow: inset 0 -1px 0 $border;
    box-shadow: inset 0 -1px 0 $border;
    padding: 9px 12px;
}

.ti-icon {
    background: transparent url("inc/img/coin-default.svg") no-repeat center center/contain;
    height: 24px;
    margin-right: 6px;
    width: 24px;
}

.ti-content {
    @extend .flex;
    -webkit-box-flex: 1;
    flex: 1;
    
    > div {
        -webkit-box-flex: 1;
        flex: 1;
        
        &:nth-child(2) {
            text-align: right;
        }
        
    }
    
}

.ti-arrow {
    @extend .arrow;
    padding: 9px 0 9px 12px;
}

.ti-name {
    font-weight: 700;
}

.ti-symbol,
.ti-change {
    @extend %font-small;
}

.ti-symbol {
    color: $font-light;
}

.ti-change {
    color: $red;
    font-weight: 600;
}

.ti-price .amount {
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.ti-price.up .amount {
    color: $green;
}

.ti-price.down .amount {
    color: $red;
}

.ti-price .sign {
    color: $placeholder;
    
    span {
        font-size: 9px;
    }
    
}

li.setting {
    @extend .ti;
    
    > div:not(.setting-control) {
        -webkit-box-flex: 1;
        flex: 1;
    }
    
}

.setting-name {
    @extend .ti-name;
}

.setting-description {
    @extend .ti-symbol;
}

#button-tracking {
    cursor: pointer;
}

div.setting {
    @extend .ti;
    box-shadow: none;
    display: block;
    
    .setting-description {
        font-size: 11px;
        line-height: 15px;
        margin-top: 3px;
    }
    
    button {
        left: 50%;
        margin-top: 24px;
        position: relative;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
}

.filter {
    background-color: $background-color;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+80,ffffff+100&1+0,1+80,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
    padding: 12px 0;
    position: -webkit-sticky;
    top: 0;
}

#filter-bar {
    @extend %font-medium;
    background-color: #f0f0f0;
    border: none;
    border-radius: 6px;
    color: $font-dark;
    font-family: $font-family;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    margin: 0;
    padding: 6px 24px;
    width: 100%;
}

#filter-icon {
    background: transparent url("inc/img/search.svg") no-repeat center center/contain;
    height: 13px;
    left: 6px;
    pointer-events: none;
    position: absolute;
    top: 20.5px;
    width: 12px;
}

#clear-filter {
    background: transparent url("inc/img/clear.svg") no-repeat center center/contain;
    cursor: pointer;
    display: none;
    height: 13px;
    position: absolute;
    right: 6px;
    top: 20.5px;
    width: 13px;
}

#checkboxes {
    @extend .flex;
    flex-wrap: wrap;
    margin-left: -6px;
    
    > div {
        @extend %font-small;
        color: $font-light;
        margin-bottom: 12px;
        margin-left: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(50vw - 24px);
    }
    
    label {
        cursor: pointer;
        margin-left: 3px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

#uncheck {
    display: none;
    margin: 12px auto 0 auto;
}

#loading {
    display: none;
}

.loading #loading {
    display: block;
}

.loader {
    left: 50%;
    position: absolute;
    top: calc(50% - 27px);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//drag
.actual .icon {
    cursor: move;
}

.actual.dragging {
    opacity: 0.4;
}

.actual {
    -webkit-transition: padding-top 200ms;
    transition: padding-top 200ms;
}

.dragover {
    padding-top: calc(12px + 55px); //line 297 + 55px (height of .item element)
}

//z-index
header {
    z-index: 10;
}

#settings,
#single {
    z-index: 5;
}

#tracking {
    z-index: 6;
}

#loading {
    z-index: 7;
}

//temp
.ti-arrow {
    display: none;
}

.updating #button-settings,
.loading #button-refresh,
.loading #button-settings,
.show-settings #button-refresh {
    opacity: 0.4;
    pointer-events: none;
}