$font-color-primary: #222;
$font-color-secondary: #777;
$border-color: #c3c3c3;
$background-color: #ebebeb;

%font-secondary {
    color: $font-color-secondary;
    font-size: 10px;
}

html,
body {
    background-color: transparent;
}

body,
#wrap {
    height: 100vh;
}

body {
    color: $font-color-primary;
	font-family: -apple-system, sans-serif;
	font-size: 14px;
	line-height: 1.25;
}

#wrap {
    background-color: $background-color;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
}

#header {
    background-color: rgba($background-color, 0.5);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid $border-color;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    span {
        @extend %font-secondary;
        font-style: italic;
    }
    
}

#status {
    @extend %font-secondary;
}

#openSettings {
    background: transparent url('data:image/svg+xml;utf8,<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M42 7l-2.72 11.78c-1.295.446-2.562.967-3.78 1.564l-10.25-6.407L13.937 25.25l6.407 10.25c-.597 1.218-1.117 2.485-1.563 3.78L7 42v16l11.78 2.72c.446 1.295.967 2.562 1.564 3.78l-6.407 10.25L25.25 86.063l10.25-6.407c1.218.597 2.485 1.118 3.78 1.563L42 93h16l2.72-11.78c1.295-.446 2.562-.967 3.78-1.564l10.25 6.407L86.063 74.75 79.656 64.5c.597-1.218 1.117-2.485 1.563-3.78L93 58V42l-11.78-2.72c-.446-1.295-.967-2.562-1.564-3.78l6.406-10.25L74.75 13.937 64.5 20.344c-1.218-.597-2.485-1.118-3.78-1.563L58 7H42zm8 23c11.046 0 20 8.954 20 20s-8.954 20-20 20-20-8.954-20-20 8.954-20 20-20z" overflow="visible" fill="%23808080"/></svg>') no-repeat center center/contain;
    cursor: pointer;
    height: 17px;
    left: 15px;
    position: absolute;
    top: 16px;
    width: 17px;
}

.refresh {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    right: 15px;
    position: absolute;
    top: 16px;
}

#refresh {
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
}

#main {
    -webkit-box-flex: 1;
    flex: 1;
    padding-top: 49px;
    overflow-x: scroll;
}

#loaderContainer {
    background-color: $background-color;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#ticker {
    padding: 0 15px;
    
    > .item.actual:last-child {
        border-bottom: none;
    }
    
}

#welcome {
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.item {
    border-bottom: 1px solid $border-color;
    padding: 10px 0;
    
    .title {
        font-weight: 600;
        
        span {
            @extend %font-secondary;
            font-style: italic;
            font-weight: 400;
        }
        
    }
    
    .data {
        @extend %font-secondary;
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        font-size: 11px;
        
        > div {
            padding-left: 10px;
            
            &:nth-child(1) {
                padding-left: 0;
            }
            
            span {
                color: $font-color-primary;
                font-weight: 600;
            }
            
        }
        
    }
    
}

#settings {
    padding: 10px 15px;
    position: relative;
    text-align: center;
    
    > .title {
        font-weight: 600;
    }
    
}

p {
    @extend %font-secondary;
    font-size: 11px;
}

.check-section {
    margin-bottom: 10px;
    text-align: left;
    
    .title {
        font-weight: 600;
    }
    
    .checkboxes {
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        
        > div {
            margin-left: 15px;
            margin-top: 5px;
        }
        
    }
    
}

label {
    @extend %font-secondary;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#closeSettings {
    cursor: pointer;
}

.loading #loaderContainer {
    display: block;
}

#settings {
    display: none;
}

.show-settings #ticker {
    display: none;
}

.show-settings #settings {
    display: block;
}

.timer-on #openSettings,
.loading #openSettings,
.show-settings #openSettings {
    opacity: 0.5;
    pointer-events: none;
}

.timer-on #refresh,
.loading #refresh,
.show-settings #refresh {
    color: graytext;
    pointer-events: none;
}

#header {
    z-index: 10;
}

//development only
#start {
    cursor: pointer;
    left: 42px;
    margin: 0;
    position: absolute;
    top: 16px;
}