//drag
.actual .ti-icon {
    cursor: move;
}

.actual.dragging {
    opacity: 0.4;
}

.dragover {
    padding-top: calc(12px + 48px);
}

//z-index
header {
    z-index: 10;
}

#settings,
#single {
    z-index: 5;
}

#tracking {
    z-index: 6;
}

#loading {
    z-index: 7;
}

#alert {
    z-index: 8;
}

.updating #button-settings,
.loading #button-refresh,
.loading #button-settings,
.show-settings #button-refresh {
    opacity: 0.4;
    pointer-events: none;
}