@font-face {
    font-family: 'Roboto';
    src: url('inc/fonts/Roboto-Regular.woff2') format('woff2'),
        url('inc/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('inc/fonts/Roboto-Medium.woff2') format('woff2'),
        url('inc/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}