//button clicks
.button {
    will-change: box-shadow;
    -webkit-transition: -webkit-box-shadow 125ms ease-out;
    transition: -webkit-box-shadow 125ms ease-out;
    transition: box-shadow 125ms ease-out;
    transition: box-shadow 125ms ease-out, -webkit-box-shadow 125ms ease-out;
}

//drag and drog
.actual {
    .will-change: padding-top, opacity;
    -webkit-transition: padding-top 175ms ease-out, opacity 175ms ease-out;
    transition: padding-top 175ms ease-out, opacity 175ms ease-out;
}

//button disable/enable
#button-refresh {
    will-change: opacity;
    -webkit-transform-origin: 50% 56%;
    transform-origin: 50% 56%;
    -webkit-transition: opacity 175ms ease-out;
    transition: opacity 175ms ease-out;
}

#add,
#button-back,
#button-settings {
    will-change: left, opacity;
    -webkit-transition: left 175ms ease-out, opacity 175ms ease-out;
    transition: left 175ms ease-out, opacity 175ms ease-out;
}

//price updates
.ti-price .amount {
    will-change: color;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}