---
layout: default
---
<header>
    <div class="container flex">
        <div class="buttons-left">
            <div id="button-settings"></div>
            <div id="button-back"></div>
        </div>
        <div class="header-center">
            <div id="header-logo"></div>
            <div id="status">init</div>
        </div>
        <div id="button-refresh"></div>
    </div>
</header>
{% include ticker.html %}
{% include settings.html %}
{% include tracking.html %}
{% include loading.html %}