---
---

@charset "utf-8";

@import
	"base",
	"coins",
	"off-canvas",
	"update",
	"toggle",
	"loader",
	"custom"
;

@each $coin in $coins {
    $symbol: str-slice($coin, str-index($coin, "_")+1, str-length($coin));
    .#{$symbol} .ti-icon {
     background-image: url("inc/img/coins/#{$coin}.svg");
    }
}

/*
@each $coin in $coins {
    $name: str-slice($coin, 1, str-index($coin, "_")-1);
    $symbol: str-slice($coin, str-index($coin, "_")+1, str-length($coin));
    .ti.#{$symbol} .ti-icon {
        background-image: url("inc/img/coins/#{$coin}.svg");
        marks: cross;
    }
}
*/